body {
            font-family: sans-serif;
            background-color: #ecb1b1; 
            color: #333;
            text-align: center;
            margin: 0;
            padding: 20px;
        }
        
        
        h1 {
            color:#FFCBC4; 
        }
        
        
        .Bombo {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            max-width: 600px;
            margin: auto;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
            background: #ffe4e0;
            background: linear-gradient(90deg, rgba(255, 228, 224, 1) 20%, rgba(255, 234, 0, 1) 50%, rgba(255, 125, 125, 1) 75%);
        }
        
        
        img {
            max-width: 100%;
            height: auto;
            border: 3px solid #f65946;
            border-radius: 10px;
            margin-top: 15px;
        }