
body {
   
    background-color: #ecb1b1; 
    
    font-family: 'Comic Sans MS', 'Comic Neue', sans-serif;
    color: #333; 
    text-align: center;
    margin: 0;
    padding: 20px;
    line-height: 1.4;
}


h1 {
    
    color: #f65946; 
    font-size: 2.5rem; 
    margin-bottom: 20px;
}

h2 {
 
    color: #d32f2f; 
    text-align: left; 
    margin-top: 25px;
}



.Bombo {
   
    padding: 30px; 
    border-radius: 15px; 
    max-width: 650px; 
    margin: auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    
    
    background: linear-gradient(90deg, rgba(255, 228, 224, 1) 20%, rgba(255, 234, 0, 1) 50%, rgba(255, 125, 125, 1) 75%);
    
  
    margin-left: 15px;
    margin-right: 15px;
}


img {
    max-width: 100%;
    height: auto;
    border: 3px solid #f65946; 
    border-radius: 10px;
    margin-top: 15px;
   
    margin-bottom: 20px; 
}


p, ul {
    text-align: left; 
    font-size: 1.05rem; 
}


ul {
    list-style-type: disc; 
    padding-left: 20px;
